<header class="st-header">

    <!-- Top Contact Bar -->
    <div class="topbar">
        <div class="container-fluid px-3 px-lg-4">
            <div class="topbar-inner">

                <div class="topbar-left">
                    <span>
                        <i class="bi bi-telephone-fill"></i>
                        +91 9958844916
                    </span>

                    <span class="divider">|</span>

                    <span>
                        <i class="bi bi-envelope-fill"></i>
                        info@sandt.com
                    </span>
                    <!-- <span class="divider">|</span> -->


                </div>

                <span>
                    <i class="bi bi-geo-alt-fill"></i>
                    <!-- 3rd Floor, Vardhman Trade Centre, -->
                    Nehru Place, New Delhi
                </span>
                <!-- <div class="topbar-right">
        <a href="#" class="social-icon">
          <i class="bi bi-linkedin"></i>
        </a>

        <a href="#" class="social-icon">
          <i class="bi bi-twitter-x"></i>
        </a>

        <a href="#" class="social-icon">
          <i class="bi bi-whatsapp"></i>
        </a>
        </div> -->

            </div>
        </div>
    </div>

    <!-- Main Navbar -->
    <nav class="navbar navbar-expand-lg main-navbar">
        <div class="container-fluid px-3 px-lg-4">

            <!-- Logo Section -->
            <a class="navbar-brand brand-box" routerLink="/">

                <div class="logo-wrapper">

                    <!-- Logo -->
                    <img src="assets/st2.png" alt="S&T Logo" class="brand-logo">

                    <!-- Text Below Logo -->
                    <div class="logo-text">
                        <h5>Jobs & Admissions</h5>
                        <p>(National/International)</p>
                    </div>

                </div>

            </a>

            <!-- Mobile Toggle -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="mainNav">

                <ul class="navbar-nav mx-auto nav-links">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active"
                            [routerLinkActiveOptions]="{ exact: true }">
                            Home
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/about" routerLinkActive="active">
                            About Us
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/jobs" routerLinkActive="active">
                            Jobs
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/admissions" routerLinkActive="active">
                            Admissions
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contact" routerLinkActive="active">
                            Contact Us
                        </a>
                    </li>
                </ul>

                <!-- Right Button -->
                <div class="d-flex">
                    <a class="btn hire-btn" routerLink="/hiring">
                        Apply Now
                    </a>
                </div>

            </div>

        </div>
    </nav>

</header>