/* You can add global styles to this file, and also import other style files */
/* styles.css */
.hero-image{
  animation: float 4s ease-in-out infinite;
  /* height: 300px; */
}

@keyframes float{
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}